<nb-card>
  <nb-card-header>
    Lista de clientes
  </nb-card-header>

  <nb-card-body>
   <!-- <ng2-smart-table [settings]="settings" [source]="source" (deleteConfirm)="onDeleteConfirm($event)">
    </ng2-smart-table>-->
   
  <table width="1000px">
    <tr style="color:white">
      <th>Nome</th>
      <th>E-mail</th>
      <th>Telefone</th>
      <th>Data/Hora</th>
      <th>CPF</th>
      <th>Perfil</th>
      </tr>
      <tr>
      <td>Marcelo victor</td>
      <td>marcelo.silva@imcnet.com.br</td>
      <td>11962359874</td>
      <td>14/02/2018 13:10</td>
      <td>43375612358</td>
      <td>Funcionario</td>
      </tr>
    </table>   
    
  </nb-card-body>
</nb-card>
